html
    head
        title Challenge : Can I PUT some DELETE ?
    body
        form(action="/users")
            fieldset
                legend UPDATE a user
                input(type="text" name='user')
                input(type="submit" value='Update')